html {

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(247, 247, 97, 0.911);

}

.teste {
    border-radius: 100px;
    width: 300px;
}


.destaque {
    font-weight: bold;
}
.img-destaque{
    border-radius: 50px;
    width: 300px;
}
